{% extends "base.html.twig" %}

{% block title %} SymRecipe - Accueil{% endblock %}
{% block body %} 

<div class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur LoLTips</h1>
  <p class="lead">LoLTips est un site qui va te permettre de t'améliorer sur tes champions et tes matchups !</p>
  <hr class="my-4">
  <p>Pour commencer rendez-vous sur la page d'inscriptions pour utiliser LoLTips</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
</div>
{% endblock %}

